html {
  background: white;
}

body {
  width: 500px;
  margin: 0 auto;
  background: rgb(218, 210, 210);
}

.container {
  background-image: linear-gradient(
    to top,
    black 10%,
    rgb(62, 66, 62),
    rgb(180, 180, 175),
    rgb(248, 248, 250)
  );
  width: 250px;
  height: 420px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 30px 30px 30px 30px;
}

.calculadora {
  position: relative;
  height: 400px;
  width: 235px;
  margin: 0 auto;
  top: 15px;
  background-color: rgb(119, 119, 118);
  border-radius: 30px 30px 30px 30px;
}

.display {
  background-image: linear-gradient(
    to bottom,
    black 10%,
    rgb(62, 66, 62),
    rgb(180, 180, 175),
    rgb(248, 248, 250)
  );
  position: relative;
  height: 74px;
  width: 220px;
  margin: 0 auto;
  top: 25px;
  border-radius: 30px 30px 30px 30px;
}

.display2 {
  background: rgb(119, 119, 118);
  position: relative;
  height: 69px;
  width: 215px;
  margin: 0 auto;
  top: 3px;
  border-radius: 30px 30px 30px 30px;
}

#impute {
  position: absolute;
  top: 15px;
  left: 7px;
  height: 35px;
  width: 200px;
  outline: 0;
  border-radius: 5px;
  background: rgb(91, 133, 64);
  text-align: right;
  font-size: 23px;
}

.teclado {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  top: 30px;
  height: 280px;
  padding: 3px;
  background: rgb(119, 119, 118);
  border-radius: 0px 0px 15px 15px;
}

.cjTecla {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 50px;
}

.classeBotao {
  flex-grow: 1;
  border-radius: 15px;
  margin-bottom: 5px;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  box-shadow: 1.5px 1.5px 0px 0.5px black;
  font-size: 16px;
}

.classeBotao:active {
  box-shadow: 0px 0px 0px 0px black, inset 1.5px 1.5px 0px 0.5px black;
  transform: translate(2px, 3px);
}

.botoesOvais {
  border-radius: 100%;
  height: 3px;
}

#botaoOn {
  border-radius: 100%;
  border: none;
  background: red;
  color: white;
}

#btnAdicao {
  flex-grow: 1.5;
  display: inline-block;
  box-shadow: 1.5px 1.5px 0px 0.5px black;
}
